.beatbox{
    width: 600px;
    height: 600px;
    background-color: rgb(56, 55, 55);
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    border-radius: 20px;
}
button{
    display: inline-block;
    background-color: #000;
    color: white;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #FFD53B;
    margin: 5px;
    width: 200px;
    padding: 20px;
    font-size: 20px;
    align-self: flex-end;
    cursor: pointer;
}
button:hover{
    box-shadow: 3px 3px 6px 6px #000;
}
body{
    display: flex;
    width: 100%;
    height:100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./assets/bck-image1.jpg);
    background-size: cover;
}
.dark-body{
    background: url(./assets/fullmoon2.jpg);
    background-size: cover;
}
.dark-button{
    background-color: white;
    color: #000;
}
.dark-button:hover{

    box-shadow: 3px 3px 6px 6px white;
}
.dark-button span{
    display: none;
}
.dark-button:after{
    content: "Light Mode";
}
.dark-beatbox{
    border-color: white;
}
.dark-beatbox span{
  position: absolute;
  display: block;
  /* border-color: white; */
}
.dark-beatbox span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
.dark-beatbox span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
.dark-beatbox span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}
.dark-beatbox span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom: 100%;
  }
}
.beat{
    width: 150px;
    height: 150px;
    flex-basis: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid rgb(17, 233, 143);
    font-size: 2em;
    color: white;
    font-family: sans-serif;
    transition: all 0.2s;
}

footer{
    color: white;
    background: #000;
    width: 1350px;
    text-align: center;
    animation:  color-change 10s ease-in-out infinite;
    margin-top: 30px;
}

@keyframes color-change{
    0%{
        background: #000;
        color: white;
    }
    16%{
        background:#0079C4;
    }
    32%{
        background:#FAAC86;
    }
    48%{
        background:#E61F34;
    }
    64%{
        background:#C71A2E;
    }
    80%{
        background: #FFD63E;
        color: black;
    }
    100%{
        background: #FFD53B;
        color: black;
    }
}